h1{

    text-align: center;
}
input{

   

    
    

}
button{

  border: solid;
  border-radius: 20px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  

}
button:hover{

    cursor: pointer;
    background-color: black;
    color: white;
}
body{

    background-color: rgb(142, 153, 173);
    
}
div{

    margin-left: 35%;
}