h1{

    text-align: center;
}
input{

    border: solid;
    border-radius: 20px;
    
    

}
button{

  border: solid;
  border-radius: 20px;
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
  

}
button:hover{

    cursor: pointer;
    background-color: black;
    color: white;
}
body{

    background-color: pink;
    
}
div{

    margin-left: 35%;
}